<nav
  class="block justify-center align-middle mx-5 mt-5 list-none
md:sm:flex md:justify-between md:w-[1040px] md:mx-auto md:mt-5"
>
  <div class="flex justify-start">
    <li routerLinkActive="active"><a [routerLink]="['/']">Home</a></li>

    <input type="text" class="ml-4 border-[1px] border-emerald-400 rounded-md p-1">
    <button class="ml-4">Search</button>
  </div>

  <div class="flex justify-end">
    <li routerLinkActive="active" class="ml-4"><a [routerLink]="['/shop']">Shop</a></li>
    <li routerLinkActive="active" class="ml-4"><a [routerLink]="['/cart']">Cart</a></li>

    <button
      routerLinkActive="active"
      class="ml-4 border-2 rounded-full px-2"
      (click)="auth.login()"
    >
      Log In
    </button>
    <button
      routerLinkActive="active"
      class="ml-4 border-2 rounded-full px-2"
      (click)="auth.logout()"
    >
      Log Out
    </button>

    <li routerLinkActive="active" class="ml-4"><a [routerLink]="['/']">Home</a></li>
  </div>
</nav>
